.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
  padding: 0;
  flex-direction: row;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.Header img {
  max-width: 500px;
  height: auto;
  border: 2px solid #444;
  border-radius: 50%;
  animation: breathing 3s ease-in-out infinite;
}

.Description {
  max-width: 600px;
  text-align: justify;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #f1f1f1;
  margin-bottom: 1rem;
}

.RegistrationForm {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #2b2b2b;
}

.RegistrationForm label {
  color: #f1f1f1;
  font-weight: bold;
}

.RegistrationForm input{
  width: 95%; /* Asegura que ocupe todo el ancho disponible */
  padding: 0.5rem;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #3b3b3b;
  color: #f1f1f1;
  font-size: 0.875rem;
  transition: border-color 0.25s, background-color 0.25s; /* Agrega transiciones suaves */
}
.RegistrationForm select {
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  padding: 0.5rem;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #3b3b3b;
  color: #f1f1f1;
  font-size: 0.875rem;
  transition: border-color 0.25s, background-color 0.25s; /* Agrega transiciones suaves */
}

.RegistrationForm input:focus, .RegistrationForm select:focus {
  outline: none;
  border-color: #ffd700;
  background-color: #444;
}

.RegistrationForm button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #b3920d;
  color: #f1f1f1;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.RegistrationForm button:hover {
  background-color: #6e5709;
}

.IngresarButton {
  display: block;
  margin: 1rem auto;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  background-color: #b3920d;
  color: #f1f1f1;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.IngresarButton:hover {
  background-color: #6e5709;
}
