.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Asegura que ocupe toda la altura visible */
  gap: 2rem;
  padding: 0; /* Eliminado */
  flex-direction: row; /* Cambia la dirección del flex a fila */
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header img {
  max-width: 500px;
  border: 2px solid #444;
  border-radius: 50%;
  animation: breathing 3s ease-in-out infinite;
}

.Description {
  max-width: 600px;
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #f1f1f1;
}

.RegistrationForm {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 500px;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  padding: 2rem;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #2b2b2b;
}

.RegistrationForm label {
  display: block;
  margin-bottom: 0.5rem;
  color: #f1f1f1;
  font-weight: bold;
}

.RegistrationForm input {
  width: 95%; /* Asegura que ocupe todo el ancho disponible */
  padding: 0.5rem;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #3b3b3b;
  color: #f1f1f1;
  font-size: 0.875rem;
}

.RegistrationForm input:focus {
  outline: none;
  border-color: #ffd700;
}

.RegistrationForm button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #b3920d;
  color: #f1f1f1;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
}

.RegistrationForm button:hover {
  background-color: #6e5709;
}